:root:not(.light) {
  --vkui--theme_name: "vkBaseDark";
  --vkui--theme_name_base: "vkBase";
  --vkui--font_family_accent: "TT Commons", -apple-system, system-ui,
    Helvetica Neue, Roboto, sans-serif;
  --vkui--font_family_base: -apple-system, system-ui, "Helvetica Neue", Roboto,
    sans-serif;
  --vkui--font_weight_accent1: 600;
  --vkui--font_weight_accent2: 500;
  --vkui--font_weight_accent3: 400;
  --vkui--font_weight_base1: 600;
  --vkui--font_weight_base2: 500;
  --vkui--font_weight_base3: 400;
  --vkui--font_title1--font_size--regular: 24px;
  --vkui--font_title1--line_height--regular: 28px;
  --vkui--font_title1--letter_spacing--regular: -0.48px;
  --vkui--font_title1--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_title1--font_weight--regular: 600;
  --vkui--font_title2--font_size--regular: 20px;
  --vkui--font_title2--line_height--regular: 24px;
  --vkui--font_title2--letter_spacing--regular: -0.4px;
  --vkui--font_title2--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_title2--font_weight--regular: 600;
  --vkui--font_title3--font_size--regular: 17px;
  --vkui--font_title3--line_height--regular: 22px;
  --vkui--font_title3--letter_spacing--regular: -0.22px;
  --vkui--font_title3--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_title3--font_weight--regular: 600;
  --vkui--font_headline1--font_size--regular: 16px;
  --vkui--font_headline1--line_height--regular: 20px;
  --vkui--font_headline1--letter_spacing--regular: -0.16px;
  --vkui--font_headline1--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_headline1--font_weight--regular: 500;
  --vkui--font_headline1--font_size--compact: 15px;
  --vkui--font_headline1--line_height--compact: 20px;
  --vkui--font_headline1--letter_spacing--compact: -0.1px;
  --vkui--font_headline2--font_size--regular: 15px;
  --vkui--font_headline2--line_height--regular: 20px;
  --vkui--font_headline2--letter_spacing--regular: -0.1px;
  --vkui--font_headline2--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_headline2--font_weight--regular: 500;
  --vkui--font_headline2--font_size--compact: 14px;
  --vkui--font_headline2--line_height--compact: 20px;
  --vkui--font_headline2--letter_spacing--compact: -0.06px;
  --vkui--font_text--font_size--regular: 16px;
  --vkui--font_text--line_height--regular: 20px;
  --vkui--font_text--letter_spacing--regular: -0.16px;
  --vkui--font_text--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_text--font_weight--regular: 400;
  --vkui--font_text--font_size--compact: 15px;
  --vkui--font_text--line_height--compact: 20px;
  --vkui--font_text--letter_spacing--compact: -0.1px;
  --vkui--font_paragraph--font_size--regular: 15px;
  --vkui--font_paragraph--line_height--regular: 20px;
  --vkui--font_paragraph--letter_spacing--regular: -0.1px;
  --vkui--font_paragraph--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_paragraph--font_weight--regular: 400;
  --vkui--font_subhead--font_size--regular: 14px;
  --vkui--font_subhead--line_height--regular: 18px;
  --vkui--font_subhead--letter_spacing--regular: -0.06px;
  --vkui--font_subhead--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_subhead--font_weight--regular: 400;
  --vkui--font_subhead--font_size--compact: 13px;
  --vkui--font_subhead--line_height--compact: 16px;
  --vkui--font_subhead--letter_spacing--compact: 0px;
  --vkui--font_footnote--font_size--regular: 13px;
  --vkui--font_footnote--line_height--regular: 16px;
  --vkui--font_footnote--letter_spacing--regular: 0px;
  --vkui--font_footnote--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_footnote--font_weight--regular: 400;
  --vkui--font_footnote_caps--font_size--regular: 13px;
  --vkui--font_footnote_caps--line_height--regular: 16px;
  --vkui--font_footnote_caps--letter_spacing--regular: 0.3px;
  --vkui--font_footnote_caps--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_footnote_caps--font_weight--regular: 400;
  --vkui--font_footnote_caps--text_transform--regular: uppercase;
  --vkui--font_caption1--font_size--regular: 12px;
  --vkui--font_caption1--line_height--regular: 14px;
  --vkui--font_caption1--letter_spacing--regular: 0.06px;
  --vkui--font_caption1--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption1--font_weight--regular: 400;
  --vkui--font_caption1_caps--font_size--regular: 12px;
  --vkui--font_caption1_caps--line_height--regular: 14px;
  --vkui--font_caption1_caps--letter_spacing--regular: 0.2px;
  --vkui--font_caption1_caps--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption1_caps--font_weight--regular: 600;
  --vkui--font_caption1_caps--text_transform--regular: uppercase;
  --vkui--font_caption2--font_size--regular: 11px;
  --vkui--font_caption2--line_height--regular: 14px;
  --vkui--font_caption2--letter_spacing--regular: 0.11px;
  --vkui--font_caption2--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption2--font_weight--regular: 400;
  --vkui--font_caption2_caps--font_size--regular: 11px;
  --vkui--font_caption2_caps--line_height--regular: 14px;
  --vkui--font_caption2_caps--letter_spacing--regular: 0.3px;
  --vkui--font_caption2_caps--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption2_caps--font_weight--regular: 600;
  --vkui--font_caption2_caps--text_transform--regular: uppercase;
  --vkui--font_caption3--font_size--regular: 9px;
  --vkui--font_caption3--line_height--regular: 12px;
  --vkui--font_caption3--letter_spacing--regular: 0.18px;
  --vkui--font_caption3--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption3--font_weight--regular: 400;
  --vkui--font_caption3_caps--font_size--regular: 9px;
  --vkui--font_caption3_caps--line_height--regular: 12px;
  --vkui--font_caption3_caps--letter_spacing--regular: 0.3px;
  --vkui--font_caption3_caps--font_family--regular: -apple-system, system-ui,
    "Helvetica Neue", Roboto, sans-serif;
  --vkui--font_caption3_caps--font_weight--regular: 600;
  --vkui--font_caption3_caps--text_transform--regular: uppercase;
  --vkui--size_select_icon_padding--regular: 6px;
  --vkui--size_select_icon_padding--compact: 7px;
  --vkui--size_popup_base_padding--regular: 32px;
  --vkui--size_popup_base_padding--compact: 20px;
  --vkui--size_popup_header_padding--regular: 24px;
  --vkui--size_popup_header_padding--compact: 16px;
  --vkui--size_label_horizontal_margin--regular: 16px;
  --vkui--size_border_radius--regular: 8px;
  --vkui--size_check_border_radius--regular: 4px;
  --vkui--size_border_radius_paper--regular: 12px;
  --vkui--size_border_radius_promo--regular: 20px;
  --vkui--size_field_height--regular: 44px;
  --vkui--size_field_height--compact: 36px;
  --vkui--size_button_large_height--regular: 44px;
  --vkui--size_button_large_height--compact: 36px;
  --vkui--size_button_medium_height--regular: 36px;
  --vkui--size_button_medium_height--compact: 32px;
  --vkui--size_button_small_height--regular: 30px;
  --vkui--size_button_small_height--compact: 28px;
  --vkui--size_checkbox--regular: 16px;
  --vkui--size_arrow--regular: 8px;
  --vkui--size_arrow_promo--regular: 40px;
  --vkui--size_popup_small--regular: 420px;
  --vkui--size_popup_medium--regular: 680px;
  --vkui--size_popup_large--regular: 880px;
  --vkui--size_field_horizontal_padding--regular: 12px;
  --vkui--size_button_padding_horizontal--regular: 12px;
  --vkui--size_arrow_padding--regular: 12px;
  --vkui--size_tooltip_margin--regular: 8px;
  --vkui--size_icon_u_i--regular: 16px;
  --vkui--size_avatar_x_s--regular: 24px;
  --vkui--size_avatar_s--regular: 32px;
  --vkui--size_avatar_m--regular: 48px;
  --vkui--size_avatar_l--regular: 96px;
  --vkui--size_avatar_x_l--regular: 128px;
  --vkui--size_badge_x_s--regular: 12px;
  --vkui--size_badge_s--regular: 16px;
  --vkui--size_badge_m--regular: 24px;
  --vkui--size_badge_l--regular: 44px;
  --vkui--size_badge_x_l--regular: 56px;
  --vkui--size_cardgrid_padding--regular: 8px;
  --vkui--size_card_border_radius--regular: 8px;
  --vkui--size_cardgrid_padding_vertical--regular: 8px;
  --vkui--size_base_padding_horizontal--regular: 16px;
  --vkui--size_button_group_gap_space--regular: 1px;
  --vkui--size_button_group_gap_small--regular: 8px;
  --vkui--size_button_group_gap_medium--regular: 12px;
  --vkui--size_option_hierarchy--regular: 32px;
  --vkui--elevation1: 0px 0px 2px rgba(0, 0, 0, 0.03),
    0px 2px 2px rgba(0, 0, 0, 0.06);
  --vkui--elevation1_invert_y: 0px 0px 2px rgba(0, 0, 0, 0.03),
    0px -2px 2px rgba(0, 0, 0, 0.06);
  --vkui--elevation2: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 4px rgba(0, 0, 0, 0.06);
  --vkui--elevation3: 0px 0px 2px rgba(0, 0, 0, 0.08),
    0px 4px 16px rgba(0, 0, 0, 0.08);
  --vkui--elevation4: 0px 0px 8px rgba(0, 0, 0, 0.12),
    0px 16px 16px rgba(0, 0, 0, 0.16);
  --vkui--animation_duration_l: 0.4s;
  --vkui--animation_duration_m: 0.2s;
  --vkui--animation_duration_s: 0.1s;
  --vkui--animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
  --vkui--opacity_disable: 0.4;
  --vkui--opacity_disable_accessibility: 0.64;
  --vkui--theme_inherits_from: "vkBase";
  --vkui--font_headline--font_size--regular: 16px;
  --vkui--font_headline--line_height--regular: 20px;
  --vkui--font_headline--letter_spacing--regular: -0.16px;
  --vkui--font_headline--font_family--regular: "TT Commons", -apple-system,
    system-ui, Helvetica Neue, Roboto, sans-serif;
  --vkui--font_headline--font_weight--regular: 500;
  --vkui--font_headline--font_size--compact: 15px;
  --vkui--font_headline--line_height--compact: 20px;
  --vkui--font_headline--letter_spacing--compact: -0.1px;
  --vkui--colors_scheme: dark;
  --vkui--color_background_accent: #529ef4;
  --vkui--color_background_accent--hover: #59a2f4;
  --vkui--color_background_accent--active: #60a6f5;
  --vkui--color_background_accent_themed: #ffffff;
  --vkui--color_background_accent_themed--hover: #ffffff;
  --vkui--color_background_accent_themed--active: #ffffff;
  --vkui--color_background_accent_alternative: #529ef4;
  --vkui--color_background_accent_alternative--hover: #59a2f4;
  --vkui--color_background_accent_alternative--active: #60a6f5;
  --vkui--color_icon_accent: #529ef4;
  --vkui--color_icon_accent--hover: #59a2f4;
  --vkui--color_icon_accent--active: #60a6f5;
  --vkui--color_text_accent: #529ef4;
  --vkui--color_text_accent--hover: #59a2f4;
  --vkui--color_text_accent--active: #60a6f5;
  --vkui--color_text_accent_themed: #ffffff;
  --vkui--color_text_accent_themed--hover: #ffffff;
  --vkui--color_text_accent_themed--active: #ffffff;
  --vkui--color_stroke_accent: #529ef4;
  --vkui--color_stroke_accent--hover: #59a2f4;
  --vkui--color_stroke_accent--active: #60a6f5;
  --vkui--color_stroke_accent_themed: #ffffff;
  --vkui--color_stroke_accent_themed--hover: #ffffff;
  --vkui--color_stroke_accent_themed--active: #ffffff;
  --vkui--color_stroke_contrast: #ffffff;
  --vkui--color_stroke_contrast--hover: #ffffff;
  --vkui--color_stroke_contrast--active: #ffffff;
  --vkui--color_action_sheet_text: #529ef4;
  --vkui--color_action_sheet_text--hover: #59a2f4;
  --vkui--color_action_sheet_text--active: #60a6f5;
  --vkui--color_background_content: #19191a;
  --vkui--color_background_content--hover: #222223;
  --vkui--color_background_content--active: #2b2b2c;
  --vkui--color_background_secondary: #232324;
  --vkui--color_background_secondary--hover: #2c2c2d;
  --vkui--color_background_secondary--active: #353536;
  --vkui--color_background_secondary_alpha: rgba(255, 255, 255, 0.04);
  --vkui--color_background_secondary_alpha--hover: rgba(255, 255, 255, 0.08);
  --vkui--color_background_secondary_alpha--active: rgba(255, 255, 255, 0.12);
  --vkui--color_background_tertiary: #202021;
  --vkui--color_background_tertiary--hover: #29292a;
  --vkui--color_background_tertiary--active: #323233;
  --vkui--color_background: #0a0a0a;
  --vkui--color_background--hover: #141414;
  --vkui--color_background--active: #1e1e1e;
  --vkui--color_background_contrast: #ffffff;
  --vkui--color_background_contrast--hover: #ffffff;
  --vkui--color_background_contrast--active: #ffffff;
  --vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
  --vkui--color_background_contrast_secondary_alpha--hover: rgba(
    255,
    255,
    255,
    0.24
  );
  --vkui--color_background_contrast_secondary_alpha--active: rgba(
    255,
    255,
    255,
    0.28
  );
  --vkui--color_background_warning: #6c4a00;
  --vkui--color_background_warning--hover: #72510a;
  --vkui--color_background_warning--active: #785814;
  --vkui--color_background_negative: #e64646;
  --vkui--color_background_negative--hover: #e74d4d;
  --vkui--color_background_negative--active: #e85555;
  --vkui--color_background_negative_tint: #522e2e;
  --vkui--color_background_negative_tint--hover: #593636;
  --vkui--color_background_negative_tint--active: #603f3f;
  --vkui--color_text_negative: #e64646;
  --vkui--color_text_negative--hover: #e74d4d;
  --vkui--color_text_negative--active: #e85555;
  --vkui--color_icon_negative: #e64646;
  --vkui--color_icon_negative--hover: #e74d4d;
  --vkui--color_icon_negative--active: #e85555;
  --vkui--color_stroke_negative: #e64646;
  --vkui--color_stroke_negative--hover: #e74d4d;
  --vkui--color_stroke_negative--active: #e85555;
  --vkui--color_header_background: #19191a;
  --vkui--color_header_background--hover: #222223;
  --vkui--color_header_background--active: #2b2b2c;
  --vkui--color_panel_header_icon: #71aaeb;
  --vkui--color_panel_header_icon--hover: #77adec;
  --vkui--color_panel_header_icon--active: #7cb1ed;
  --vkui--color_icon_primary: #e1e3e6;
  --vkui--color_icon_primary--hover: #e2e4e7;
  --vkui--color_icon_primary--active: #e3e5e8;
  --vkui--color_icon_primary_invariably: #2c2d2e;
  --vkui--color_icon_primary_invariably--hover: #343536;
  --vkui--color_icon_primary_invariably--active: #3d3e3f;
  --vkui--color_icon_medium: #b0b1b6;
  --vkui--color_icon_medium--hover: #b3b4b9;
  --vkui--color_icon_medium--active: #b6b7bc;
  --vkui--color_icon_medium_alpha: rgba(241, 247, 255, 0.66);
  --vkui--color_icon_medium_alpha--hover: rgba(
    241,
    247,
    255,
    0.7000000000000001
  );
  --vkui--color_icon_medium_alpha--active: rgba(241, 247, 255, 0.74);
  --vkui--color_icon_secondary: #76787a;
  --vkui--color_icon_secondary--hover: #7b7d7f;
  --vkui--color_icon_secondary--active: #818385;
  --vkui--color_icon_secondary_alpha: rgba(0, 0, 0, 0.43);
  --vkui--color_icon_secondary_alpha--hover: rgba(0, 0, 0, 0.47000000000000003);
  --vkui--color_icon_secondary_alpha--active: rgba(0, 0, 0, 0.51);
  --vkui--color_icon_tertiary: #5d5f61;
  --vkui--color_icon_tertiary--hover: #636567;
  --vkui--color_icon_tertiary--active: #6a6c6e;
  --vkui--color_icon_tertiary_alpha: rgba(255, 255, 255, 0.3);
  --vkui--color_icon_tertiary_alpha--hover: rgba(255, 255, 255, 0.34);
  --vkui--color_icon_tertiary_alpha--active: rgba(255, 255, 255, 0.38);
  --vkui--color_image_border_alpha: rgba(255, 255, 255, 0.08);
  --vkui--color_image_border_alpha--hover: rgba(255, 255, 255, 0.12);
  --vkui--color_image_border_alpha--active: rgba(255, 255, 255, 0.16);
  --vkui--color_write_bar_input_background: #232324;
  --vkui--color_write_bar_input_background--hover: #2c2c2d;
  --vkui--color_write_bar_input_background--active: #353536;
  --vkui--color_write_bar_input_border_alpha: rgba(255, 255, 255, 0.8);
  --vkui--color_write_bar_input_border_alpha--hover: rgba(255, 255, 255, 0.84);
  --vkui--color_write_bar_input_border_alpha--active: rgba(255, 255, 255, 0.88);
  --vkui--color_track_background: #202021;
  --vkui--color_track_background--hover: #29292a;
  --vkui--color_track_background--active: #323233;
  --vkui--color_track_buffer: #405772;
  --vkui--color_track_buffer--hover: #485e78;
  --vkui--color_track_buffer--active: #4f647d;
  --vkui--color_background_modal: #2d2d2e;
  --vkui--color_background_modal--hover: #353536;
  --vkui--color_background_modal--active: #3e3e3f;
  --vkui--color_image_placeholder_alpha: rgba(241, 247, 255, 0.08);
  --vkui--color_image_placeholder_alpha--hover: rgba(241, 247, 255, 0.12);
  --vkui--color_image_placeholder_alpha--active: rgba(241, 247, 255, 0.16);
  --vkui--color_image_placeholder: #2a2b2c;
  --vkui--color_image_placeholder--hover: #333334;
  --vkui--color_image_placeholder--active: #3b3c3d;
  --vkui--color_search_field_background: #232324;
  --vkui--color_search_field_background--hover: #2c2c2d;
  --vkui--color_search_field_background--active: #353536;
  --vkui--color_field_border_alpha: rgba(255, 255, 255, 0.12);
  --vkui--color_field_border_alpha--hover: rgba(255, 255, 255, 0.16);
  --vkui--color_field_border_alpha--active: rgba(255, 255, 255, 0.2);
  --vkui--color_field_background: #292929;
  --vkui--color_field_background--hover: #323232;
  --vkui--color_field_background--active: #3a3a3a;
  --vkui--color_separator_primary_alpha: rgba(0, 0, 0, 0.4);
  --vkui--color_separator_primary_alpha--hover: rgba(0, 0, 0, 0.44);
  --vkui--color_separator_primary_alpha--active: rgba(0, 0, 0, 0.48);
  --vkui--color_separator_secondary: #141415;
  --vkui--color_separator_secondary--hover: #1d1d1e;
  --vkui--color_separator_secondary--active: #272728;
  --vkui--color_separator_primary: #0f0f10;
  --vkui--color_separator_primary--hover: #19191a;
  --vkui--color_separator_primary--active: #222223;
  --vkui--color_text_link: #529ef4;
  --vkui--color_text_link--hover: #59a2f4;
  --vkui--color_text_link--active: #60a6f5;
  --vkui--color_text_link_themed: #ffffff;
  --vkui--color_text_link_themed--hover: #ffffff;
  --vkui--color_text_link_themed--active: #ffffff;
  --vkui--color_text_muted: #e1e3e6;
  --vkui--color_text_muted--hover: #e2e4e7;
  --vkui--color_text_muted--active: #e3e5e8;
  --vkui--color_text_primary: #e1e3e6;
  --vkui--color_text_primary--hover: #e2e4e7;
  --vkui--color_text_primary--active: #e3e5e8;
  --vkui--color_text_primary_invariably: #000000;
  --vkui--color_text_primary_invariably--hover: #0a0a0a;
  --vkui--color_text_primary_invariably--active: #141414;
  --vkui--color_text_secondary: #76787a;
  --vkui--color_text_secondary--hover: #7b7d7f;
  --vkui--color_text_secondary--active: #818385;
  --vkui--color_text_subhead: #c1c3c6;
  --vkui--color_text_subhead--hover: #c3c5c8;
  --vkui--color_text_subhead--active: #c6c8cb;
  --vkui--color_text_tertiary: #636567;
  --vkui--color_text_tertiary--hover: #696b6d;
  --vkui--color_text_tertiary--active: #6f7173;
  --vkui--color_write_bar_icon: #529ef4;
  --vkui--color_write_bar_icon--hover: #59a2f4;
  --vkui--color_write_bar_icon--active: #60a6f5;
  --vkui--color_accent_blue: #529ef4;
  --vkui--color_accent_blue--hover: #59a2f4;
  --vkui--color_accent_blue--active: #60a6f5;
  --vkui--color_accent_gray: #a3adb8;
  --vkui--color_accent_gray--hover: #a7b0bb;
  --vkui--color_accent_gray--active: #aab4be;
  --vkui--color_accent_red: #ff3347;
  --vkui--color_accent_red--hover: #ff3b4e;
  --vkui--color_accent_red--active: #ff4356;
  --vkui--color_accent_green: #4bb34b;
  --vkui--color_accent_green--hover: #52b652;
  --vkui--color_accent_green--active: #59b959;
  --vkui--color_accent_orange: #ffa000;
  --vkui--color_accent_orange--hover: #ffa40a;
  --vkui--color_accent_orange--active: #ffa814;
  --vkui--color_accent_purple: #735ce6;
  --vkui--color_accent_purple--hover: #7963e7;
  --vkui--color_accent_purple--active: #7e69e8;
  --vkui--color_accent_violet: #792ec0;
  --vkui--color_accent_violet--hover: #7e36c3;
  --vkui--color_accent_violet--active: #843fc5;
  --vkui--color_skeleton_from: #f5f5f5;
  --vkui--color_skeleton_from--hover: #f5f5f5;
  --vkui--color_skeleton_from--active: #f6f6f6;
  --vkui--color_skeleton_to: #e1e3e6;
  --vkui--color_skeleton_to--hover: #e2e4e7;
  --vkui--color_skeleton_to--active: #e3e5e8;
  --vkui--color_accent_secondary: #3f8ae0;
  --vkui--color_accent_secondary--hover: #478fe1;
  --vkui--color_accent_secondary--active: #4e93e2;
  --vkui--color_text_link_visited: #4986cc;
  --vkui--color_text_link_visited--hover: #508bce;
  --vkui--color_text_link_visited--active: #5890d0;
  --vkui--color_text_contrast: #ffffff;
  --vkui--color_text_contrast--hover: #ffffff;
  --vkui--color_text_contrast--active: #ffffff;
  --vkui--color_text_contrast_themed: #000000;
  --vkui--color_text_contrast_themed--hover: #0a0a0a;
  --vkui--color_text_contrast_themed--active: #141414;
  --vkui--color_icon_contrast: #ffffff;
  --vkui--color_icon_contrast--hover: #ffffff;
  --vkui--color_icon_contrast--active: #ffffff;
  --vkui--color_icon_contrast_themed: #000000;
  --vkui--color_icon_contrast_themed--hover: #0a0a0a;
  --vkui--color_icon_contrast_themed--active: #141414;
  --vkui--color_link_contrast: #ffffff;
  --vkui--color_link_contrast--hover: #ffffff;
  --vkui--color_link_contrast--active: #ffffff;
  --vkui--color_text_positive: #4bb34b;
  --vkui--color_text_positive--hover: #52b652;
  --vkui--color_text_positive--active: #59b959;
  --vkui--color_background_positive: #4bb34b;
  --vkui--color_background_positive--hover: #52b652;
  --vkui--color_background_positive--active: #59b959;
  --vkui--color_icon_positive: #4bb34b;
  --vkui--color_icon_positive--hover: #52b652;
  --vkui--color_icon_positive--active: #59b959;
  --vkui--color_stroke_positive: #4bb34b;
  --vkui--color_stroke_positive--hover: #52b652;
  --vkui--color_stroke_positive--active: #59b959;
  --vkui--color_avatar_overlay: rgba(129, 140, 153, 0.48);
  --vkui--color_avatar_overlay--hover: rgba(129, 140, 153, 0.52);
  --vkui--color_avatar_overlay--active: rgba(129, 140, 153, 0.56);
  --vkui--color_overlay_primary: rgba(0, 0, 0, 0.4);
  --vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.44);
  --vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.48);
  --vkui--color_transparent: transparent;
  --vkui--color_transparent--hover: rgba(255, 255, 255, 0.04);
  --vkui--color_transparent--active: rgba(255, 255, 255, 0.08);
}
