/* COMPACT */
@media (max-width: 767px) {
  section + section::before {
    display: block;
    content: "";
    height: 1px;
    background: currentColor;
    transform-origin: center top;
    color: var(--separator_common);
    margin: 0 var(--vkui--size_base_padding_horizontal--regular);
  }
}

/* REGULAR */
@media (min-width: 768px) {
  section {
    padding: 8px;
    background: var(--vkui--color_background_content);
    border-radius: 8px;
    box-shadow: inset 0 0 0 var(--thin-border) var(--input_border);
    /* margin: 0 var(--vkui--size_base_padding_horizontal--regular); */
  }
  section + section {
    margin-top: 16px;
  }

  /* Separator */
  section > section + section::before {
    display: block;
    content: "";
    height: 1px;
    background: currentColor;
    transform-origin: center top;
    color: var(--separator_common);
    margin: 0 var(--vkui--size_base_padding_horizontal--regular);
  }
}

section > section {
  padding: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
