.PanelHeaderBack {
  width: 48px;
  height: 48px;
  margin: 0 12px 0 0;
  border-radius: 50%;
  transition: background-color 0.15s ease-out;
}

.PanelHeaderBack::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: var(--vkui--color_icon_accent);
  -webkit-mask: var(--vkui--icons--arrow_left_outline_28) center / 28px
    no-repeat;
  mask: var(--vkui--icons--arrow_left_outline_28) center / 28px no-repeat;
}

.PanelHeaderBack:hover {
  background-color: var(--vkui--color_transparent--hover);
}

.PanelHeaderBack:active {
  background-color: var(--vkui--color_transparent--active);
}

/* iOS */
@supports (-webkit-touch-callout: none) {
  .PanelHeaderBack {
    width: 36px;
    height: 44px;
    border-radius: 0;
    transition: background-color 0.15s ease-out;
  }

  .PanelHeaderBack::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 44px;
    background-color: var(--vkui--color_icon_accent);
    -webkit-mask: var(--vkui--icons--chevron_back_28) center / 20px no-repeat;
    mask: var(--vkui--icons--chevron_back_28) center / 20px no-repeat;
  }
}
