.PanelHeaderBack::before {
  -webkit-mask-image: var(--vkui--icons_arrow_left_outline_28);
  mask-image: var(--vkui--icons_arrow_left_outline_28);
}

/* iOS */
@supports (-webkit-touch-callout: none) {
  .PanelHeaderBack {
    width: 36px;
    height: 44px;
  }

  .PanelHeaderBack::before {
    width: 36px;
    height: 44px;
    -webkit-mask: var(--vkui--icons_chevron_back_28) center / 20px no-repeat;
    mask: var(--vkui--icons_chevron_back_28) center / 20px no-repeat;
  }
}
