main {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1024px;
}

main > aside {
  min-width: 230px;
  margin: 0;
}
main > article {
  width: 100%;
}

/* REGULAR */
@media (min-width: 768px) {
  main > aside + article {
    margin-left: var(--vkui--size_base_padding_horizontal--regular);
    margin-right: var(--vkui--size_base_padding_horizontal--regular);
  }
}

/* COMPACT */
@media (max-width: 767px) {
  main {
    flex-direction: column;
  }
  aside {
    display: none;
  }
}

aside > nav > a {
  display: block;
  padding: 12px;
  color: var(--vkui--color_text_primary);
  border-radius: 8px;
  transition: background 0.15s ease-out;
}

aside > nav > a:hover {
  background: var(--vkui--color_transparent--hover);
}

aside > nav > a:active {
  background: var(--vkui--color_transparent--active);
}
