<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@sveltevk/pure/src/index.min.css" crossorigin="anonymous">
  <title>@sveltevk/pure</title>
</head>

<body>
  <header>
    <a href="#" class="PanelHeaderBack" only-compact></a>
    @sveltevk/pure
  </header>
  <main>
    <aside id="menu">
      <header only-compact>
        <a class="PanelHeaderBack" href="#"></a>
        Меню
      </header>
      <nav>
        <a href="/pure/">О модуле</a>
        <a href="/pure/docs/adaptivity">Адаптивность</a>
        <a href="/pure/docs/platforms">Платформы и темы</a>
        <a href="/pure/docs/mini-apps">VK mini apps</a>
      </nav>
    </aside>

    <article>
      <section>
        {{ content }}
      </section>
    </article>
  </main>
</body>

</html>